<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/style2.css')}}">
</head>
<body>
    <div class="wrapper">
            <h1>Login</h1>
            <video id = "video" width="440" height="280" autoplay></video>
            <canvas id ="canvas" width="440" height ="280" style="display: none;"></canvas>
            <button class="btn" onclick="login()">Login</button>
    </div>
    <!-- add static folder -->
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>

