<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EduQuest</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style/style1.css')}}">
</head>
<body>
<nav>
  <div class="container nav_container">
    <a href="{{ url_for('success') }}"><h3>EduQuest</h3></a> <!--parallax.html -->
    <ul class="nav_menu">
      <li><a href="{{ url_for('success') }}">Home</a></li> <!--"parallax.html"-->
      <li><a href="{{ url_for('about') }}">About</a></li> <!--"about.html"-->
      <li><a href="{{ url_for('contact') }}">Contact</a></li><!--"contact.html"-->
      <li><a href="{{ url_for('course') }}">Dashboard</a></li><!--"course.html"-->
    </ul>
  </div>
</nav>

<section class="parallax">
  <img src="{{url_for('static',filename='images/hill1.png')}}" id="hill1">
  <img src="{{url_for('static',filename='images/hill2.png')}}" id="hill2">
  <img src="{{url_for('static',filename='images/hill3.png')}}" id="hill3">
  <img src="{{url_for('static',filename='images/hill4.png')}}" id="hill4">
  <img src="{{url_for('static',filename='images/hill5.png')}}" id="hill5">
  <img src="{{url_for('static',filename='images/tree.png')}}" id="tree">
  <div id="text">
    <h2>EduQuest</h2>
    <h4>Facially Empowered Self Study</h4>
  </div>
  <img src="{{url_for('static',filename='images/leaf.png')}}" id="leaf">
  <img src="{{url_for('static',filename='images/plant.png')}}" id="plant">
</section>
<script src="{{url_for('static',filename='js/nav.js')}}"></script>
<section class="sec">
  <h2>About Us</h2>
  <p>
    Welcome to our website! We are a dedicated team hailing from KIIT University's Computer Science and Communication Engineering branch, bringing together expertise and passion in our respective fields. Meet Puja Sarkar, Biyas Ghosh, and Sinjinee Bandhyopadhyay, the driving forces behind our endeavors.
    <br><br>
    Puja, Biyas, and Sinjinee are individuals who share a common goal: to leverage their education and skills to make a positive impact. With a foundation in Computer Science and Communication Engineering from KIIT University, their journey is fueled by curiosity, innovation, and a commitment to excellence.
    <br><br>
    Explore our website to learn more about our team's accomplishments, projects, and how we can help you achieve your goals. Thank you for visiting!
  </p>
</section>

<script src="{{url_for('static',filename='js/home.js')}}"></script>
</body>
</html>
